*
!.config
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/helix
!.config/helix/config.toml
!.config/helix/themes
!.config/helix/themes/sunbather.toml
!.config/gdb-dashboard
!.config/gdb-dashboard/init
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config
!.config/mpd
!.config/mpd/mpd.conf
!.config/ncmpcpp
!.config/ncmpcpp/config
!.config/picom
!.config/picom/conf
!.dmenurc
!.gitignore
!.gtkrc-2.0
!.vimrc
!.zshrc
!README.md
