*
!.config
!.config/
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config
!.config/mpd
!.config/mpd/mpd.conf
!.config/mpd/playlists
!.config/ncmpcpp
!.config/ncmpcpp/config
!.config/nvim
.!config/nvim/init.lua
.!config/nvim/lua
.!config/nvim/lua/config
.!config/nvim/lua/config/keymaps.lua
.!config/nvim/lua/config/options.lua
.!config/nvim/lua/config/plugins.lua
.!config/nvim/lua/plugins
.!config/nvim/lua/plugins/lsp
.!config/nvim/lua/plugins/lsp/lspconfig.lua
.!config/nvim/lua/plugins/lsp/mason.lua
.!config/nvim/lua/plugins/lsp/none-ls.lua
.!config/nvim/lua/plugins/autopairs.lua
.!config/nvim/lua/plugins/barbar.lua
.!config/nvim/lua/plugins/cmp.lua
.!config/nvim/lua/plugins/colorscheme.lua
.!config/nvim/lua/plugins/init.lua
.!config/nvim/lua/plugins/leap.lua
.!config/nvim/lua/plugins/lualine.lua
.!config/nvim/lua/plugins/nvim-tree.lua
.!config/nvim/lua/plugins/scrollbar.lua
!.config/picom
!.config/picom/conf
!.gitignore
!README.md
!.vimrc
