*
!.gitignore
!alacritty
!alacritty/alacritty.yml
!dunst/
!dunst/dunstrc
!gdb-dashboard
!gdb-dashboard/init
!gtk-3.0
!gtk-3.0/settings.ini
!helix
!helix/config.toml
!helix/languages.toml
!helix/themes
!helix/themes/sunbather.toml
!i3
!i3/config
!i3status
!i3status/config
!mpd
!mpd/mpd.conf
!ncmpcpp
!ncmpcpp/bindings
!ncmpcpp/config
!ruff
!ruff/ruff.toml
